
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<input id="LoginText" type="text" />
<input id="Password" type="password" />
<input id="RememberMeCheckBox" type="checkbox" />
<p>Don't remember the password? 
    <a href="forgot.cshtml"> Remember me.</a></p>
<input id="SubmitButton" type="submit" value="Sign in" />
