
@{
    ViewData["Title"] = "Sign up";
}

<h1>Sign up</h1>
<p>First Name  <input id="Text1" type="text" /><br /></p>
<p>Last Name  <input id="Text1" type="text" /></p>
<p>Email      <input id="Text1" type="text" /><br /></p>
<p>Password  <input id="Text1" type="text" /><br /></p>
<input id="RegisterButton" type="submit" value="Get Started" />