
@{
    ViewData["Title"] = "Sign up";
}

<h1>Sign up</h1>
<p>User Login <input id="UserLoginText" type="text" /><br /></p>
<p>First Name  <input id="FirstNameText" type="text" /><br /></p>
<p>Last Name  <input id="LastNameText" type="text" /></p>
<p>Email      <input id="EmailText" type="text" /><br /></p>
<p>Password  <input id="PasswordText" type="text" /><br /></p>
<p>Age <input id="AgeText" type="text" /><br /></p>
<p>Phone Number <input id="PhoneNumberText" type="text" /><br /></p>
<p>Address <input id="AddressText" type="text" /><br /></p>
<input id="RegisterButton" type="submit" value="Get Started" />

