
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<p>Email<input id="LoginText" type="text" /> </p>
<p>Password <input id="Password" type="password" /> </p>
<p> <a href="forgot.cshtml">Help.I forgot my password </a> </p>
<p> <input id="RememberMeCheckBox" type="checkbox" /> Need an account? 
    <a href="register.cshtml"> Sign up.</a></p>
<input id="SubmitButton" type="submit" value="Sign in" />
